@media only screen and (max-width:985px) {
    .ordercatagory{
        /* flex-direction: column; */
        position: absolute;
        left: 0px;
        top: 10px;
        /* border: 2px solid red; */
        align-items: start;
    }
    .navbarmain {
        padding: 10px;

    }

    .navbar {
        gap: 10px;
    }

    .userorder {
        overflow-x: scroll;
        /* border: 1px solid white; */

        /* margin-left: 10px; */
        margin-right: 10px;
    }

    .tableheading p {
        width: 100px;
        /* border: 1px solid white; */
    }

    .tableheading {
        width: 1140px;
        /* gap: 15px; */
    }

    .specificorders p {
        text-align: center;
        width: 100px;
        /* border: 1px solid white; */
    }

    #tablemargin {
        margin-top: 80px;
    }

    #tablemargin2 {
        margin-top: 80px;
    }

    #tablemargin3 {
        margin-top: 2px;
    }

    .specificorders {
        width: 1150px;
        /* overflow-x: scroll; */
    }

    .specificorders h3 {
        width: 100px;
    }

    .tableadjust {
       
        width: 1150px;
    }

    .tableheading {
        border: 0;
    }

    .tablebody {
        margin-top: 120px;
    }

    .ordercatagory {
        position: sticky;
        margin-bottom: -100px;
        margin-top: -20px;
        right: 50px;
    }

    .hright {
        /* height: 60vh; */
    }
    .registerform input{
        width: 30vw;
    }
    .rleft{
        height: 500px;
    }
    
    #ordernow,#changeprice,#addtocart,.ordernow{
        padding: 10vh 35vw;
    }
    .ordercatagory{
        justify-content: flex-start;
        margin-top: 20px;
    }
    .ordercatagory button{
        width: 25vw;
    }
}

@media only screen and (max-width:880px) {
    #footer {
        padding: 50px 5px;
        gap: 10px;
        /* flex-direction: column; */
    }

    .frr {
        gap: 10px;
    }

    .navbar div {
        gap: 25px;
    }

    .fleft {
        width: 30vw;
    }

    .flast {
        width: 30vw;
    }

    .hright {
        /* height: 50vh; */
    }

    #ordernow,#changeprice,#addtocart,.ordernow{
        padding: 10vh 33vw;
    }

}

@media only screen and (max-width:800px) {
    .displaynone {
        display: unset;
    }
    .itemsearch{
        padding: 0;
    }
    #navclose {
        display: none;
        /* width: 0; */
        position: absolute;
        /* overflow: hidden; */
        right: 25vw;
        top: 20px;
        z-index: 3;
        animation-duration: .5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    #navbartoggle {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        /* overflow-x: hidden; */
        animation-duration: .5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    @keyframes opennav{
        from{
            right: -40vw;
        }
        to{
            right: 0vw;
            display: unset;
        }
    }
    @keyframes closenav{
        from{
            right: 0;
        }
        to{
            right: -40vw;  
        }
    }
    @keyframes navopen {
        from{
            right: -10vw;
        }
        to{
            right: 25vw;
        }
    }
    .navbar>div {
        
        z-index: 3;
        margin-top: 80px;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 0;
        /* display: none; */
        /* transition: all 1s; */
        height: 100vh;
        width: 30vw;
        background-color: rgba(0, 0, 0, 0.774);
        padding: 20px;
        justify-content: flex-start;
        align-items: center;
    }

    .navbar>div>div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    #marginright {
        margin: 0;
    }

    .navbarmain {
        padding: 10px 10vw;

    }

    
    #footer {
        flex-direction: column;
    }

    .fleft {
        width: 70vw;
    }

    .frr {
        gap: 10px;
    }

    .hleft{
        margin-top: 60px;
    }
    .manageadminorder{
        flex-direction: column;
        /* padding: 20px;
        align-items: center;
        justify-content: center; */
        margin: 0;
        margin-top: 50px;
        gap: 10;
    }
    .manageadminorder>div{
        flex-direction: column;
        margin: 0;
        flex: 1;
    }
    #sortbybtn{
        width: 150px;
    }

}

@media only screen and (max-width:650px) {
    .frr {
        flex-direction: column;
        gap: 40px;
    }

    .flast {
        width: 70vw;
    }

    .hright {
        display: none;
    }

    .hleft {
        padding-top:100px;
        padding-bottom: 50px;
        width: 80vw;
        /* height: 50vh; */
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }
    .hleft::before{
        background: url(https://img.freepik.com/free-vector/realistic-pizza-ads-banner_52683-70644.jpg?w=1060&t=st=1675677779~exp=1675678379~hmac=867443f1c262cd8f8c467dbffe0935cb45ce8b8f6546cf5dda396070bfb71ea8);
        background-repeat: no-repeat;
        /* background-position:0px 0px; */
        background-size: cover;
        background-position: center;

        margin-top: 40px;
        background-size: calc(100%);
        position: absolute;
        top: 50px;
        left: 0;
        content: "";
        z-index: -1;
        opacity: 0.4;
        height: 40vw;
        width: 100vw;
        /* border: 1px solid red; */
    }

    .navbar>div {
        width: 50vw;
    }
    @keyframes opennav{
        from{
            right: -60vw;
        }
        to{
            right: 0vw;
        }
    }
    @keyframes closenav{
        from{
            right: 0;
        
        }
        to{
            right: -60vw;
        }
    }
    @keyframes navopen {
        from{
            right: -15vw;
        }
        to{
            right: 45vw;
        }
    }
    #navclose {
        right: 45vw;
    }
    .lleft{
        display: none;
    }
    .registerform input{
        width: 60vw;
    }
    #ordernow,#changeprice,#addtocart,.ordernow{
        padding: 10vh 30vw;
    }
    .mcright{
        width: auto;
        padding:0 20px;
        padding-bottom: 20px;
    }
    .makecustome{
        flex-direction: column;
    }
    .mcleft{
        max-height: 80vh;
    }
}
@media only screen and (max-width:520px){
    #ordernow,#changeprice,#addtocart,.ordernow{
        padding: 10vh 10vw;
    }
    #profileinfo{
        padding: 10px;
        background-size: cover;
        width: 80vw;
        overflow-x: scroll;
    }
    .additem>div{
        width: 80vw;
    }
    .ordercatagory button{
        width: 150px;
    }
    .hleft::before{
        
        background-repeat: no-repeat;
        /* background-position:0px 0px; */
        background-size: cover;
        background-position: center;

        /* margin-top: 40px; */
        /* background-size: c; */
        position: absolute;
        top: 0px;
        left: 0;
        content: "";
        z-index: -1;
        opacity: 0.4;
        height: 60vw;
        width: 100vw;
        overflow: hidden;
        /* border: 1px solid red; */
    }

    .hleft{
        overflow: hidden;
    }
}
@media only screen and (max-width: 440px){
    .hleft::before{
        
        background-repeat: no-repeat;
        /* background-position:0px 0px; */
        background-size: cover;
        background-position: end;

        margin-top: 60px;
    }
}
@media only screen and (max-width: 400px){
    .hleft::before{
        margin-top: 80px;
        height: 70vw;
    }
    .gocustome{
        margin: 0;
        margin-right: -10px;
    }
}